*{
  margin: 0;
  padding: 0;
}
body{
  display: flex;

}
div{
   height: 100px;

  border: 2px solid red;
  flex-basis: 100%
}

 #id1{
  flex-shrink: : 1
}
#id2{
  flex-shrink: : 2
}
#id3{
  flex-shrink:  1
} 
