div{
  height: 100px;
  width: 100px;
  border: 2px solid yellow;
  background-color: red;
  margin: 5px;

}
body{
  display: flex;
  flex-flow:row wrap;
 justify-content:space-evenly;
  /* align-items:flex-end; */
  border: 1px solid black;
  height: 700px;

}
#id1{
  order: 5

}
#id2{

order: 3
}
#id3{

order: 1
}
#id4{

order: 4
}
#id5{

order: 6
}
#id6{
order: 2

}
div:hover{
  background-color: orange;
}
