html,body,div{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{

  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin: 0 auto;
}

div{

width: 100%;
min-height: 150px;

}

.c1
{
    background-color: rgb(0,0,100)
}
.c2
{

  background-color:blue ;
}
.c3
{

  background-color:lightblue ;
}
.c4{
border: 2px solid red;
}
