body,header,html,body,a ,ul,li,section,div{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
ul{

  list-style: none;
}
li{
  display: flex;
  flex-flow: row wrap;
}
body{
  display: flex;
  flex-flow: column nowrap;
}
header{
  position: fixed;
  top: 0;
  width: 100%;
  }
a{
  width: 20%;
  text-decoration: none;
  min-height: 30px;
  padding: 5px;
  background-color: lightblue;
  border:1px solid blue;
  text-align: center;
  color:black
}
a:hover{
  background-color: skyblue;
}
section{
  min-height: 300px;
  margin-top:  10px;

}
footer{
  position: fixed;
  bottom:0;
  width: 100%;
  min-height:  10vh;
  background-color: rgba(0, 0, 200, 0.5);
}
div{
  height: 30px;
}
